body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    
  
  }
  
  .custom-table {
    text-align: center;
    background-color: #f8f9fa; /* gris claro base */
    border: 1px solid #f8f9fa;
    border-radius: 0.5rem;
    overflow: hidden;
    
  }
  
  .custom-table thead {
    background-color: #acacac; /* Encabezado más oscuro */
    font-weight: 600;
  }
  
  .custom-table td,
  .custom-table th {
    vertical-align: middle;
    border: 1px solid #f8f9fa;
    transition: all 0.2s ease;
  }
  
  /* Hover effect */
  .custom-table tbody tr:hover {
    background-color: #ffffff !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transform: scale(1.005);
  }
  
  /* Botón */
  .custom-table .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
.styled-button {
    background-color: #4CAF50; /* color de fondo */
color: white; /* color del texto */
text-align: center; /* centrar el texto */
text-decoration: none; /* sin subrayado */
display: inline-block;
margin: 4px 2px; /* margen */
transition-duration: 0.4s; /* duración de la transición */
cursor: pointer; /* cursor */
border-radius: 5px; /* radio del borde */
border: 2px solid #4CAF50; /* Borde de 2px, sólido y verde (#4CAF50) */
padding: 0.25rem 0.5rem;
font-size: 0.875rem;
}

.styled-button:hover {
    background-color: #45a049; /* color de fondo al pasar el ratón */
}
  
